/* blip border styling */

.blips-container {
	box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.3) !important;
}

.blip-container {
	border-style: solid !important;
	border-width: 1px !important;
}
.blip-container:not(.active) {
	border-color: transparent rgba(0,0,0,0.1) #D6D6D6 !important;
}
.blip-container:not(:last-child) {
	border-bottom-style: dotted !important;
}
.blip-container:first-child {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.blip-container.active {
	border-style: solid !important;
}
.blip-container:not(.edit-mode).active {
	border-color: hsl(208, 14%, 57%) !important;
	/*box-shadow: inset 0 0 0 2px hsla(208, 14%, 57%, 0.5) !important;*/
}
.blip-container.edit-mode.active {
	box-shadow: inset 0 0 0px 3px rgba(87,170,217,0.5) !important;
}
.blip-container:not(:first-child).blip-container.active {
	/*border-top-width: 2px !important;*/
	margin-top: -1px !important;
	padding-top: 13px !important;
}

/* blip menu positioning */
.blip-menu-container:not(.fixed),
.root-blip ~ .blip-container > .blip-menu-container:not(.fixed),
.bottom-blip-menu,
.root-thread > .blips-container > .blip-container > .bottom-blip-menu {
	left: -1px !important;
}
.blip-menu-container:not(.fixed),
.root-blip ~ .blip-container > .blip-menu-container:not(.fixed) {
	top: -16px !important;
}
.bottom-blip-menu,
.root-thread > .blips-container > .blip-container > .bottom-blip-menu {
	bottom: -14px !important;
}

/* blip menu coloring */
.blip-container:not(.edit-mode) > .blip-menu-container .blip-menu button,
.blip-container:not(.edit-mode) > .bottom-blip-menu button,
.wave-panel:not(.edit-mode) > span > .blip-menu,
.wave-panel:not(.edit-mode) > .blip-menu button,
.wave-panel:not(.edit-mode) > .bottom-blip-menu button {
	background: -webkit-linear-gradient(hsl(209, 15%, 60%), hsl(207, 13%, 55%)) !important;
	background:         linear-gradient(hsl(209, 15%, 60%), hsl(207, 13%, 55%)) !important;
}
.blip-container:not(.edit-mode) > .blip-menu-container .blip-menu button:hover,
.blip-container:not(.edit-mode) > .bottom-blip-menu button:hover,
.wave-panel:not(.edit-mode) .blip-menu button:hover,
.wave-panel:not(.edit-mode) > .bottom-blip-menu button:hover {
	background: -webkit-linear-gradient(hsl(207, 13%, 55%), hsl(203, 9%, 45%)) !important;
	background:         linear-gradient(hsl(207, 13%, 55%), hsl(203, 9%, 45%)) !important;
}
.blip-container:not(.edit-mode) > .blip-menu-container .blip-menu button:active,
.blip-container:not(.edit-mode) > .bottom-blip-menu button:active,
.wave-panel:not(.edit-mode) .blip-menu button:active,
.wave-panel:not(.edit-mode) > .bottom-blip-menu button:active {
	background: -webkit-linear-gradient(hsl(203, 9%, 45%), hsl(201, 7%, 40%)) !important;
	background:         linear-gradient(hsl(203, 9%, 45%), hsl(201, 7%, 40%)) !important;
}

.blip-menu button,
.bottom-blip-menu button {
	color: white !important;
}

.blip-menu button .icon,
.bottom-blip-menu button .icon {
	background-position-y: -30px !important;
}

/* -------- Reply/Comment Button -------- */
.bottom-blip-menu .blip-reply-button {
	position: relative !important;
	width: 80px !important;
	color: transparent !important;
}
span.edit-mode .bottom-blip-menu .blip-reply-button {
	background: #4EA0F1 !important;
}
span.edit-mode .bottom-blip-menu .blip-reply-button:hover {
	background: -webkit-linear-gradient(#4EA0F1, #3189C9) !important;
	background:         linear-gradient(#4EA0F1, #3189C9) !important;
}
span.edit-mode .bottom-blip-menu .blip-reply-button:active {
	background: #3089C8 !important;
}
.bottom-blip-menu .blip-reply-button::before {
	content: "";
	position: absolute;
	left: 12px;
	top: 8px;
	width: 24px;
	height: 24px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAYAAAD0f5bSAAAAAXNSR0IArs4c6QAAAH9JREFUKM+d0b0NgmAUheEjtCbMYOUAtIzhQAziPLa0OAGtA5A8NsbE5EN+TnvPW5z3Bi0G2zKgzQ7gCwZz4dAnCfrCba6S1NmXusqBHIJS2lLo/GzLkoQlYAlas+eEMcl1x6Jn0GHa+NgJ3T8pd5zXLDaf8gu3reobPHBZ674BIrBqa/dXab0AAAAASUVORK5CYII=);
	background-repeat: no-repeat;
}
.bottom-blip-menu .blip-reply-button::after {
	content: "Reply";
	color: white;
	
	position: relative;
	left: -21px;
	top: 0;
}

/* Inline Comment Button */
.range-menu .edit-icon {
	background-position-y: 1px !important;
}
.range-menu .comment-icon {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAYAAAD0f5bSAAAAhUlEQVQoz5WRuxGCUBBFzz5SZ6zBGkgpw/Ksx5SYCkgtQOeYgMMg78NJ9967P9ReHW1jVHtOGH7GUN9ABxARAaBKnk9aDSfoUqm6dt6TarFHxtjOn0ve75lyhWL3kjB3zQRMpdSD0Al1UOfGx87q8Je64aFeqIxxXcQv9d705sX0VG817RecJOTWUDZ5KQAAAABJRU5ErkJggg==) !important;
	background-repeat: no-repeat !important;
	background-position: 3px 2.5px !important;
}
.range-menu button span {
	position: relative !important;
	top: 1px !important;
}
