/* Remove shadows */
.navigation-container {
	box-shadow: none !important;
}
.wave-container {
	/*box-shadow: -1px 0 2px 0 rgba(0,0,0,0.25) !important;*/
	box-shadow: -1px 0 0 0 rgba(0,0,0,0.1) !important;
}

/* Wave panel header */
.wave-header {
	/*background-color: #E3EAF0 !important;*/
	background-color: #D9DEE2 !important;
}
.wave-header-section .wave-header-button {
	border-color: transparent !important;
}

/* thread styling */
.wave-blips > .blip-container {
	margin: 0 -1px !important;
}

.blips-container {
	box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.3) !important;
}
.container-blip-editor > * > .blip-thread > .blips-container,
.root-thread > .blips-container {
	box-shadow: none !important;
}


/* blip styling */
.blip-container, .bottom-blip-menu {
	border-style: solid !important;
	border-width: 1px !important;
}
.blip-container:not(.active), .blip-container.root-blip:not(.active) {
	border-color: transparent transparent #D6D6D6 !important;
	border-bottom-style: dotted !important;
}
.blip-container:first-child:not(.active):not(.root-blip) {
	border-top: 1px dotted #D6D6D6 !important;
}
.blip-container:last-child:not(.active) {
	border-bottom-color: transparent !important;
}
.wave-blips > .blip-container {
	border-color: transparent !important;
}
.root-blip:only-child, .root-blip ~ :last-child {
	border-bottom: none !important;
}

.blip-container:first-child {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.blip-container.active {
	border-style: solid !important;
}
.blip-container:not(.edit-mode).active,
.blip-container:not(.edit-mode).active .bottom-blip-menu {
	border-color: hsl(208, 14%, 57%) !important;
	/*box-shadow: inset 0 0 0 2px hsla(208, 14%, 57%, 0.5) !important;*/
}
.blip-container.edit-mode.active {
	box-shadow: inset 0 0 0px 3px rgba(87,170,217,0.5) !important;
}
.blip-container:not(:first-child).blip-container.active {
	/*border-top-width: 2px !important;*/
	margin-top: -1px !important;
	padding-top: 13px !important;
	margin-bottom: -1px important;
}

/* blip menu positioning */
.blip-menu-container:not(.fixed),
.root-blip ~ .blip-container > .blip-menu-container:not(.fixed) {
	left: -1px !important;
}
.blip-menu-container:not(.fixed),
.root-blip ~ .blip-container > .blip-menu-container:not(.fixed) {
	top: -16px !important;
}
/*.bottom-blip-menu,
.root-thread > .blips-container > .blip-container > .bottom-blip-menu {
	bottom: -14px !important;
}*/

/* blip menu coloring */
.blip-container:not(.edit-mode) > .blip-menu-container .blip-menu button,
.wave-panel:not(.edit-mode) > span > .blip-menu,
.wave-panel:not(.edit-mode) > .blip-menu button {
	background: -webkit-linear-gradient(hsl(209, 15%, 60%), hsl(207, 13%, 55%)) !important;
	background:         linear-gradient(hsl(209, 15%, 60%), hsl(207, 13%, 55%)) !important;
	
	color: white !important;
}
.blip-container:not(.edit-mode) > .blip-menu-container .blip-menu button:hover,
.wave-panel:not(.edit-mode) .blip-menu button:hover {
	background: -webkit-linear-gradient(hsl(207, 13%, 55%), hsl(203, 9%, 45%)) !important;
	background:         linear-gradient(hsl(207, 13%, 55%), hsl(203, 9%, 45%)) !important;
}
.blip-container:not(.edit-mode) > .blip-menu-container .blip-menu button:active,
.wave-panel:not(.edit-mode) .blip-menu button:active {
	background: -webkit-linear-gradient(hsl(203, 9%, 45%), hsl(201, 7%, 40%)) !important;
	background:         linear-gradient(hsl(203, 9%, 45%), hsl(201, 7%, 40%)) !important;
}

.blip-container:not(.edit-mode) > .blip-menu-container .blip-menu .other-blipmenu-container .list-menu-button > button,
.wave-panel:not(.edit-mode) .blip-menu .other-blipmenu-container .list-menu-button > button {
	display: block !important;
	width: 100%;
	
	background: transparent none !important;
	color: black !important;
}
.blip-container:not(.edit-mode) > .blip-menu-container .blip-menu .other-blipmenu-container .list-menu-button:hover > button,
.wave-panel:not(.edit-mode) .blip-menu .other-blipmenu-container .list-menu-button:hover > button {
	background-color: hsl(205, 11%, 50%) !important;
	color: white !important;
}


/* TODO: Remove the need for this specific selector */
.to-edit {
	color: white !important;
}

.blip-menu button .icon {
	background-position-y: -30px !important;
}

/* “Hide” button */
.blip-menu .is-folded-by-default::before {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAA5CAYAAADp9XH6AAABWElEQVRIx+2VMWrDMBiFn4KFYkyWjO1dOnXpBdpj5AKh0NC5JUtphkLm3CsePaQI8RBFXSwwRpLlpiTQRqDBoE/6rf89PeCIIQBAa+3GglVViaLzfT2C3QNA0dutziG11gCAyTH/fIH/B9xV2N4r5yTjfK7yLnFa66shguSqW2n2bZN8BXAfa1VBcpoAH6J9FkKUALYkZQLcpURyA+DDb9ADN0qpx5hI/LgF8E7y0AOfomU75z4BvLSfdx3wLQQGW0VyQbJu5zK2Pli2UmpNEgBmSqnnnKc0SySpk8/gqkbb0a6aV/IXs2peyaysarS9vNsX+AdZ5ZXzx13lXeIabQefIUO76laafduGNp5VAigM7TQBxrNqIlAC2BpamQCHs8pv0AM3pZJ5WWVoDz0wnlVfDtGsCoHBVhnahaGt27mMrQ+WXSq5NrQAMCuVHM6qXJGkTj6tq74B7rjmkgB0fyEAAAAASUVORK5CYII=) !important;
}

/* -------- Reply region -------- */
.bottom-blip-menu {
	left: -1px !important;
	right: -1px !important;
}
.root-thread > .blips-container > .blip-container.edit-mode > .bottom-blip-menu {
	border: 1px solid #4EA0F1 !important;
}

/* Inline Comment Button */
.range-menu .edit-icon {
	background-position-y: 1px !important;
}
.range-menu .comment-icon {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAYAAAD0f5bSAAAAhUlEQVQoz5WRuxGCUBBFzz5SZ6zBGkgpw/Ksx5SYCkgtQOeYgMMg78NJ9967P9ReHW1jVHtOGH7GUN9ABxARAaBKnk9aDSfoUqm6dt6TarFHxtjOn0ve75lyhWL3kjB3zQRMpdSD0Al1UOfGx87q8Je64aFeqIxxXcQv9d705sX0VG817RecJOTWUDZ5KQAAAABJRU5ErkJggg==) !important;
	background-repeat: no-repeat !important;
	background-position: 3px 2.5px !important;
}
.range-menu button span {
	position: relative !important;
	top: 1px !important;
}
